* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
}

#conteneur_grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
  grid-template-rows: 20vh 60vh 20vh;
  grid-template-areas:
    ". label_json ."
    ". label_cases ."
    ". label_auteur .";
  justify-items: center;
}

#conteneur_flex {
  grid-area: label_cases;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.f_item {
  border: 1px solid #555;
  width: 15%;
  min-width: 150px;
  margin: 10px;
  overflow: hidden;
}

.f_item a img {
  width: 100%;
  height: 100%;
}

#json {
  grid-area: label_json;
  border: 1px solid #555;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  align-self: start;
}

#json a {
  color: #555;
  text-decoration: none;
}

#signature {
  grid-area: label_auteur;
  color: #777;
  font-size: 0.85rem;
  padding: 5px;
  align-self: end;
}

.info_bulle {
  position: relative;
}

.info_bulle .ib_text {
  visibility: hidden;
  width: 160px;
  background-color: lightgray;
  color: black;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
}

.info_bulle:hover .ib_text {
  visibility: visible;
  opacity: 1;
}
